<table>
    <tr><th><span class="glyphicon glyphicon-paperclip"></span> attachments:</th></tr>
    @if (ViewBag.attachments != null)
    {
        foreach (var attachment in ViewBag.attachments)
        {
            var attachmentPath = string.Format("{0}\\{1}", attachment.storageLocation, attachment.name);

            <tr>
                <td>@attachment.name  </td>
                <td><span class="glyphicon glyphicon-floppy-save"></span> @Html.ActionLink("Download", "Download", new { attachmentpath = attachmentPath, attachmentName = attachment.name }, new { @target = "_blank" })</td>
            </tr>
        }
    }
</table>

