@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<div class="text-danger H2">An error occurred while processing your request and we have been notified of the issue.</div>
<div class="H3">
    You can either return to the previous page using the back button and attempt to resubmit or you can navigate to the
    homepage using the Home button in the header.
</div>
