@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "InternalServerError";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An internal server error occured. Contact your database administrator.</h2>

