@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class=”col-md-12”>
  <div class="center-block pad-down">
	 <h1>Ideas Forum Application</h1>
	 <p>Here you will be able to submit your Ideas to optimize work productivity and improve on existing process or functions that you feel 
	 are in need of updates.You will also be able to comment on approved Ideas of others and make suggestions to improve someones idea</p>
	 <h1>Submitting</h1>
	 <p>Please make sure before you post an idea, that your idea is not already submitted or similar to anothers, If it is, you may comment and make 
	 suggestions to improve a similar Idea. When you submit an Idea you will provide a title for your idea, a brief description and any attachments they may
	 support you case. After submitting, Management will review your submission. If unapproved you will be notified and have a limited time 
	 to edit and re submit your case </p>
  </div>
</div>

<div class="row">
	<div class="col-md-12 margin-top-20">
		 <a href="@Url.Action("Index", "Ideas")" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-circle-arrow-down"></span>   Enter</a>
	</div>
<div>