    /* This makes sure that the "denialReason" attribute will be shown only if "statusCode" is set to "Rejected"*/
   .Submitted,
   .Archived, 
   .Approved{
        display : none;        
    }

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
text-box {
    max-width: 260px;
}
.bsolid{
   border-style: outset;
   border-color: black;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
height: auto;
padding: 15px;
}

.row.content {height: auto;} 
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) 
.row.content {height: 1500px}*/
    



editor-label {
     clear:both;
}

editor-label label {
    float:right;
    width:150px
}

editor-label input {
    float:right;
}

a.my-class { color: #000000;}
a.my-class:active { color: #000000;}
a.my-class:link { color: #000000; }
a.my-class:visited { color: #CCCCCC; }
