body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
text-box {
    max-width: 260px;
}

a.morelink {
    text-decoration: none;
    outline: none;
}

.morecontent span {
    display: none;
}

.H2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.H3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.H4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.H5 {
    display: block;
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.H6 {
    display: block;
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.display {
    border: 1px solid black;
}

.shortBody {
    width: 60%;
}

.textBoxText {
    font-weight: normal;
}

.searchBox {
    width: 85%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 150px;
    padding-right: 150px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bsolid {
    border-style: outset;
    border-color: black;
}

/*Force the editorFor fields to be at least this size*/
.multiline-field textarea {
    width: 500px;
    height: 106px;
}

.table {
    width: 100%;
    max-width: 650px;
    margin-bottom: 20px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) 
.row.content {height: 1500px}*/

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.message {
    font-size: large;
}

editor-label {
    clear: both;
}

    editor-label label {
        float: right;
        width: 150px;
    }

    editor-label input {
        float: right;
    }

a.my-class {
    color: #000000;
}

    a.my-class:active {
        color: #000000;
    }

    a.my-class:link {
        color: #000000;
    }

    a.my-class:visited {
        color: #000000;
    }

#a {
    color: #0254EB;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}
