@model IdeaSite.Models.SelectFileEditorViewModel
<tr>
    @Html.HiddenFor(model => model.Name)
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.CheckBoxFor(model => model.Selected)
    </td>
        @Html.HiddenFor(model => model.ID)
</tr>

