@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=”col-md-12”>
    <div class="center-block pad-down">
        <h1>Great Ideas: FDACS Technical Ideas Forum</h1>
        <p>
            For some time now, the department has needed a way to track ideas and discuss technical ideas for technology
            advancements. Great Ideas is a place FDACS employees can go to see the ideas that others have submitted and either
            add to the proposed idea, or acknowledge a need that exists also in his or her own division/office.
            <br />
            <br />
            Some of the greatest changes started with a small idea. Take the paperclip. Samuel Fay only wanted a way to attach
            claim tickets to delicate fabric without damaging the fabric. So he took a piece of wire and bent it into a simple X
            shape. Soon after, he filed for a patent and the paper clip was born.
        </p>
        <h1>Submitting</h1>
        <p>
            Before submitting a new idea, be sure to search the currently accepted ideas to see if there are any other ideas similar
            to your own. If one is found, you may make suggestions of improvements or declare the need for the same.
            <br />
            <br />
            If nothing is found you can submit a new idea. You must provide a title and a brief description of your idea and may
            add any attachments to support your idea. After submitting, the PPMO Group will review your submission. If your idea
            is not accepted, you will be notified and will have 15 days to edit and re-submit your idea. Otherwise, the submitted
            idea will be removed from Great Ideas.
        </p>
        <p>
            Please take note that an idea is NOT a project request and is not meant to circumvent PPMO project request process.
            This is simply a forum for ideas to gain attention and allow imput from peers throughout the department. However, it
            is possible for an idea to garner enough attention for it to be discussed or proposed as a project at a DIO meeting.
            If it is seen as a feasible idea the DIOs can approve it to be submitted as a project request.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-top-20">
        <a href="@Url.Action("Index", "Ideas")" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-circle-arrow-down"></span>   Enter</a>
    </div>
    <div>
